* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
 ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
     font-size: 25px;
   } 
   ul.tree ul {
     margin-left: 30px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
     color: #369;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);

   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:12px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:1px solid rgb(100,100,100);   
   }
div.image3{
  content:url("https://4.bp.blogspot.com/-ONSXPdYegJQ/WOOlYft8J6I/AAAAAAAAPFY/suiwPCtUUM4midwCQBzsQrX_vwBKFWQwgCPcB/s1600/IMG_7400.jpg");
  width:100%;
  height:700px;
  -webkit-filter:blur(2.5px);
  opacity:0.2 ;
}