html {
  scroll-behavior: smooth;
}

h1{
    margin-left: 260px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#fourth{
  content:url("https://4.bp.blogspot.com/-ONSXPdYegJQ/WOOlYft8J6I/AAAAAAAAPFY/suiwPCtUUM4midwCQBzsQrX_vwBKFWQwgCPcB/s1600/IMG_7400.jpg");
  width:100%;
  height:700px;
  -webkit-filter:blur(2.5px);
  opacity:0.2 ;
}
#fifth{
  content:url("https://4.bp.blogspot.com/-ONSXPdYegJQ/WOOlYft8J6I/AAAAAAAAPFY/suiwPCtUUM4midwCQBzsQrX_vwBKFWQwgCPcB/s1600/IMG_7400.jpg");
  width:100%;
  height:700px;
  -webkit-filter:blur(2.5px);
  opacity:0.2 ;
}

